<div class="sectionHeaderCont">
	<h2 class="sectionHeader"><a href="/iambirchy">Admin</a></h2>
</div>

<div class="admin">
	<div class="admin_header">
		<b>Login</b>
	</div>
	
	<div class="admin_item">
		<form action="/iambirchy/login" method="POST">
		<div><label> Password</label>  <input type="text" name="password"></div>
	</div>
	
	<div class="admin_item">
		<input type="submit" value="Login" class="button"></form>
	</div>
</div>