<% @sections.each do |section| %>
<a href="/s/<%=section.name%>" class="section"><%= section.name.upcase %></a>
<% end %>

<script>
$(document).ready(function()
{
	bgColor = $('body').css('backgroundColor');
	
	isMobile = function(){
        return 	((navigator.platform.indexOf("iPhone") != -1) ||
        		(navigator.platform.indexOf("iPod") != -1) ||
        		(navigator.platform.indexOf("android") != -1));
	};
	
	setColors = function(){$('a.section').each(function (i) {
		if(i == 0){ $(this).css('backgroundColor','red'); }
		if(i == 1){ $(this).css('backgroundColor','green'); }
		if(i == 2){ $(this).css('backgroundColor','blue'); }
		if(i == 3){ $(this).css('backgroundColor','yellow'); }
		$(this).css('color',bgColor);
	})};
	
	$('a.section').mouseover(function(){
		color = $(this).css('backgroundColor');
		$(this).css('color', color);
		$(this).css('backgroundColor',bgColor);
	});
	
	$('a.section').mouseout(function(i){
		setColors();
	});
	
	$('a.section').click(function(i){
		setColors();
	});
	
	setColors();

});</script>