<div class="admin">
<% @sections.each do |section| %>
<b><%= section.name %></b> 
<a href="/iambirchy/s/delete/<%=section.id%>">delete</a> 
<a href="/iambirchy/i/add/<%=section.id%>">add item</a>
<a href="/iambirchy/s/edititems/<%=section.id%>">edit items</a>
<br/>
<% end %>
<br/>
<a href="/iambirchy/s/add">add section</a>
</div>