<% @sections.each do |section| %>
<span class="item" id="<%= section.name_lower %>"><div class="inner innersection"><a href="/s/<%=section.name_lower%>"><%= section.name.upcase %></a></div></span>
<% end %>

<script>
$(document).ready(function()
{
	bgColor = $('body').css('backgroundColor');
	
	isMobile = function(){
        return 	((navigator.platform.indexOf("iPhone") != -1) ||
        		(navigator.platform.indexOf("iPod") != -1) ||
        		(navigator.platform.indexOf("android") != -1));
	};
	
	setColors = function(){$('span.item').each(function (i) {
		if(i == 0){ $(this).css('backgroundColor','#f00'); }
		if(i == 1){ $(this).css('backgroundColor','#0f0'); }
		if(i == 2){ $(this).css('backgroundColor','#00f'); }
		if(i == 3){ $(this).css('backgroundColor','#ff0'); }
		$(this).children().first().children().first().css('color','#222');
	})};
	
	$('span.item').mouseover(function(){
		color = $(this).css('backgroundColor');
		$(this).children().first().children().first().css('color', color);
		$(this).css('backgroundColor',bgColor);
	});
	
	$('span.item').mouseout(function(i){
		setColors();
	});
	
	$('span.item').click(function(i){
		setColors();
		$(this).children().first().children().first().css('color','#222');
		window.location.href = '/s/' + $(this).attr("id");
	});
	
	setColors();

});</script>