<div class="admin">
<form action="/iambirchy/i/create" method="POST" enctype="multipart/form-data">
  <br/>Title<input type="text" name="title"><br/>
  <br/><textarea name="description">Description</textarea><br/>
  <br/>Icon image <input type="file" name="iconimg"><br/>
  <br/>Expanded image <input type="file" name="expandimg"><br/>
  <br/><input type="hidden" name="sectionid" value="<%= params[:sectionid] %>"><br/>
  <br/><input type="submit" value="Add Item"/>
</form>
</div>