<div class="admin">
<form action="/iambirchy/i/create" method="POST" enctype="multipart/form-data">
  <input type="text" name="title">
  <textarea name="body"></textarea>
  <input type="file" name="image">
  <input type="hidden" name="sectionid" value="<%= params[:sectionid] %>">
  <input type="submit" value="Add Item"/>
</form>
</div>