<div class="sectionHeaderCont"><h2 class="sectionHeader"><a href="/s/<%= @section.name_lower %>"><%= @section.name %></a></h2></div>
<div class="item_detail">
<div class="item_title">
	<%= @item.title %>
</div>
	<p><%= @itemdetail.body %></p>
</div>
<script>
$(document).ready(function()
{
	// SHIFT BACK LINK APPROPRIATELY
	if(isMobile() == true)
	{
		x = 5;
	}else
	{
		windowWidth = $(window).width();
		contWidth = $("#container").width() + 60;
		x = (windowWidth - contWidth) /2;
	}
	$("#back").css({left: x + "px"});
});
</script>