<div class="admin">
<form action="/iambirchy/i/add_detail" method="POST" enctype="multipart/form-data">
  <br/><textarea name="body"></textarea><br/>
  <br/><input type="hidden" name="itemid" value="<%= params[:itemid] %>"><br/>
  <br/><input type="submit" value="Add Detail"/>
</form>
</div>