<!DOCTYPE html>
<html lang="en">
<head>
<title>Chris Birch</title>
<link rel="stylesheet" type="text/css" href="/birch.css" />
<meta charset=utf-8 />
</head>
<body>
<div id="container">
<a href="/" class="title">
<h2>CHRIS BIRCH</h2>
<p>Business Man</p>
</a>

<%= yield %>
</div>

</body>
</html>