<script>
$(document).ready(function()
{
	$('a.title').animate({height:'50px', 'padding-top':20, 'padding-right':10,'padding-left':10,'padding-bottom':10},'slow', function(){});		
});</script>

<h2 class="sectionHeader"><%= @section.name %></h2>
<% @items.each do |item| %>
<img src="<%= item.file.url %>" alt="<%= item.title%>"/>
<% end %>