<script>
$(document).ready(function()
{
	$('a.title').animate({height:'50px', 'padding-top':20, 'padding-right':10,'padding-left':10,'padding-bottom':10},'slow', function(){});		
});</script>

<% @items.each do |item| %>
<script>
$(document).ready(function()
{
		$('#<%= item.id %>').css('background-image','url("<%= item.file.url %>")');	
});</script>
<a href="" class="item" id="<%= item.id %>">&nbsp;</a>
<% end %>

