* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
	background: #222;
	color: #222;
	font-family:helvetica,arial,sans-serif;
	font-size:12px;
	text-align:center;
	margin:0px;
	padding:0px;
}

a {
	color:#222;
	text-decoration:none;
}

/** Layout **/
#container {
	position:relative;
	top:-10px;
	background:#222;
	margin: 0px auto;
	width:501px;
	padding:0px;	
	text-align:center;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#fence {
	margin:10px 0;
	width:501px;	
	text-align:left;
}

#back {
	position:fixed;
	top:20px;
	left:20px;
}

#back a{
	color:#aaa;
}

#back a:hover{
	color:#f00;
}

.title{
	background: #ddd;
	background-image:url('paperback.jpg');
	width:200px;
	height:50px;
	padding:150px 10px 15px 10px;
	margin:0px auto 10px auto;
	display:block;
	text-shadow: #fff 0px 1px 0px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.title a:hover{
	color:#f00;
}

.social{
	padding:5px 0 0 0;
	font-size:11px;
}

.social a{
	color:#666;
}

.social a:hover{
	color:#f00;
}

.sectionHeaderCont{
	background-image:url('paperback_red.jpg');
	 -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	width:220px;
	margin:auto;
}

.contact{
	display:none;
	background-image:url('paperback.jpg');
	 -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	width:210px;
	margin:10px auto;
	text-align:left;
	padding:5px;
}

.contact div{
	-background:#ddd;
	-opacity:0.7;
	-filter:alpha(opacity=70);
	--webkit-border-radius: 8px;
    --moz-border-radius: 8px;
    -border-radius: 8px;
	padding:10px 5px;
	line-height:18px;
}

.sectionHeader {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	width:200px;
	margin:auto;
	padding:5px 10px 5px 10px;
	text-shadow: #ddd 0px 1px 0px;
	font-size:16px;
	font-weight:bold;
	color:#222;
}

.sectionHeader a:hover{
	color:#f00;
}

span.item {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    /*behavior: url(PIE.htc);*/
    display:-moz-inline-box;
    display:inline-block;
    background:#f00;
	margin:5px 5px 5px 5px;
	-font-size:16px;
	-webkit-box-shadow:1 1 1px #000;
	-moz-box-shadow:1 1 1px #000;
	box-shadow:1 1 1px #000;
	cursor: pointer;
	font-size:14px;
}


.inner{
	width: 113px;
	padding:46px 0px 45px 0px;
	-webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    text-align:left;
}

.innersection {
	text-align:center;
	padding:49px 0px 48px 0px;
	font-weight:bold;
}

.itemOver, .itemOverHide{
	margin:0px;
	font-size:10px;
    padding:4px 0;
    height:14px;
}

.itemOver{
	background:#f00;
	color:#000;
	text-align:center;
	opacity:0.8;
	filter:alpha(opacity=80);
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight:bold;
}

.itemOverHide{
	opacity:0;
	filter:alpha(opacity=0);

}

.inner_expand{
	margin:0 10px 0 10px;
	background:#f00;
	opacity:0.9;
	filter:alpha(opacity=90);
	-webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    padding:18px 40px;
}

.inner_expand a{
    text-decoration:underline;
}

a.see_more, a.item_close{
	background:#000;
	color:#fff;
	padding:4px;
    text-decoration:none;
}

a.see_more{
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a.see_more:hover{
	color:#f00;
}

.item_title{
	font-size:16px;
	font-weight:bold;
}

a.item_close{
	position:relative;
	top:-15px;
	left:350px;
	-webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

a.item_close:hover{
	color:#f00;
}

.item_detail, .admin{
	margin:10px auto 30px auto;
	text-align:left;
	display:block;
	-text-shadow: #fff 0px 1px 0px;
	background:#e00;
	padding:20px 40px;
	-webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}

img.expandImg{
	width:200px;
}

.item_detail a, .admin a{
    text-decoration:underline;
}

@media only screen and (max-device-width:480px) and (min-device-width:320px){
	#container {
		margin:auto;
		width:250px;
	}
	
	#fence {
		width:250px;
	}
	
	.admin{
		width:250px;
	}
	
	.title{
		padding-top:30px;
	}
	
	.innerinner{
	    padding:25px;
	}
	
	a.item_close{
		left:100px;
	}
}
